[2016-03-30 02:17] cowtowncoder opened #1 "Add deserialization support for `Table<R, C, V>`"
(note: moved from https://github.com/FasterXML/jackson-datatype-guava/issues/11)

The Guava [`Table<R, C, V>`](http://docs.guava-libraries.googlecode.com/git-history/v13.0/javadoc/com/google/common/collect/Table.html) data structure is a convenience wrapper around a `Map<R, Map<C, V>>`.  This form can be easily serialized and deserialized.  Here's the basic code I'm using for that:

[code]

I have

[2016-03-30 02:20] cowtowncoder commented on #1
Note: existing PRs from the old project:

* https://github.com/FasterXML/jackson-datatype-guava/pull/62
* https://github.com/FasterXML/jackson-datatype-guava/pull/73

[2016-03-30 02:21] cowtowncoder commented on #1
Also note that Jackson 2.7 has serialization support, but NOT yet deserialization -- this is why issue is still open.

[2016-03-30 02:24] cowtowncoder opened #2 "(guava) Better multiset serialization / deserialization"
(moved from https://github.com/FasterXML/jackson-datatype-guava/issues/51 by @devinrsmith)

Currently, multisets' serialization size is proportional to Multiset.size() as opposed to Multiset.entrySet().size().

For example, if I have do Multiset<String>.setCount("my_key", 1000), "my_key" is repeated 1000 times in the output. It would be much more appropriate if it behaved liked Map<String, Integer

[2016-03-30 02:24] cowtowncoder commented on #2
Typically the way changes like this are handled is by introducing a new on/off Feature (for module or component) which defaults to old behavior, and can be changed to support new handling.
But there are limited number of cases where we have just changed the setting, if we really think there is very low risk of problems.

This might be something to bring up on dev mailing list, esp. since there may

[2016-03-30 02:26] cowtowncoder opened #3 "(guava) Multimap serializer doesn't work with non-String keys, even if it seems like they should."
(moved from https://github.com/FasterXML/jackson-datatype-guava/issues/13 by @stevenschlansker )

Serializing a Multimap fails if K is any non-String type, even if intuitively it should work (e.g. K is a string-like type such as Enum, or K has an @JsonValue annotation).

I couldn't figure out how this is supposed to work, so I have included failing test cases for both the 1.9 branch and 2.x branch

[2016-03-30 02:26] cowtowncoder commented on #3
NOTE: due to various improvements to core `Map` (and `EnumMap`) handling, some aspects may have been improved. What is needed most would be unit test(s) showing remaining flaws.

[2016-05-13 22:46] cowtowncoder opened #6 "[guava] `Multimap` deserializer does not honor DeserializationFeature.ACCEPT_SINGLE_VALUE_AS_ARRAY"
(moved from https://github.com/FasterXML/jackson-datatype-guava/issues/89 by @neilmcguigan)

Should be able to have

    enable(DeserializationFeature.ACCEPT_SINGLE_VALUE_AS_ARRAY);

[code]

with JSON

[code]

However, this throws exception:

    JsonMappingException: Expecting START_ARRAY, found VALUE_STRING`

Please note that this works:

[code]

with JSON:

[code]

when

    enable(Deserializat

[2016-05-13 22:48] cowtowncoder commented on #1
@michaelhixson  @hyandell just FYI that Guava has moved; still hoping to eventually get to support Tables fully, but haven't had time to work on merging any further.

[2016-05-19 15:56] cowtowncoder opened #7 "Add support for `WRITE_SORTED_MAP_ENTRIES` for Guava `Multimap`s"
Currently (2.7.5) `MultimapSerializer` does not make use of either `SerializationFeature.ORDER_MAP_ENTRIES_BY_KEYS` or `JsonFormat.Feature.WRITE_SORTED_MAP_ENTRIES`; it should.

[2016-05-29 03:39] #6 closed

[2016-08-04 10:35] lrlinde commented on #1
@cowtowncoder, I asked here
https://github.com/FasterXML/jackson-datatype-guava/issues/11
But I see this was duplicating it, so I'll ask here! :p

Is there any news on this? We'll working around this issue in our project and really appreciate fully support for Tables.

[2016-08-09 05:02] cowtowncoder commented on #1
@lrlinde at this point I would need a new PR for this project for deserialization support. I don't have time to work on this myself.

[2016-08-23 09:53] puntogil opened #10 "Source files without license headers"
Hi

All java source files are without license headers.

Please, confirm the licensing of code and/or content/s, and add license headers

https://fedoraproject.org/wiki/Packaging:LicensingGuidelines?rd=Packaging/LicensingGuidelines#License_Clarification

This is currently blocking the import of these libraries in Fedora [1]

Thanks in advance

Regards

[1] https://bugzilla.redhat.com/show_bug.cgi?i

[2016-08-23 17:51] cowtowncoder commented on #10
@puntogil This is not a Fedora project, and our policy is not to add license boilerplate in source files.
It serves no useful purpose to us, so we have no intention of adding such headers.

License information is however included in Maven definitions (parent `pom.xml`), source repositories, and artifacts (via `src/main/resources`). Git repo wikis also include license information.

[2016-08-23 17:51] #10 closed

[2016-08-23 18:00] puntogil commented on #10
hi
yes I know. but if i want to import one of your libraries in Fedora
then i must follow the Fedora packaging guidelines.
When happen this kind of problems i am obliged to report it
otherwise the "review" to import the package stops.
https://bugzilla.redhat.com/show_bug.cgi?id=1369232

Again thanks
Regards

[2016-08-23 22:06] cowtowncoder commented on #10
Ok. Thank you for the explanation!

[2016-08-26 14:25] puntogil commented on #10
hi
I created this license header, for those files where missing:
[code]
you can add it? or is still a question of minimizing the
weight of your libraries in Android environment?
if I have understood well the last time we came on this topic
If you lack the time to do it, i could create a PR, even for https://github.com/FasterXML/jackson-modules-base/issues/18
Again thanks
Regards

[2016-08-26 14:26] puntogil commented on #10
http://www.apache.org/legal/src-headers.html

[2017-03-08 00:47] superxiao commented on #2
Second this issue. Just come across a production problem where the succinct serialization would be immensely useful. By reading these two posts and realizing jackson does not currently support succinct serialization, I have to move back to Map<T, Long>.

[2017-03-08 00:58] cowtowncoder commented on #2
PRs welcome.

[2017-03-17 05:52] kringol opened #12 "`Range` deserialization fails when `ObjectMapper` has default typing enabled"
If i have an ObjectMapper like the following

[code]

And then I try to serialize a Guava Range into an String, it becomes
[code]
Instead of the basic
[code]

So far, so good
But if you try to deserialized that first json.
The Range Deserializer throws an error
[code]
Seems that this check
https://github.com/FasterXML/jackson-datatypes-collections/blob/master/guava/src/main/java/com/fasterxml/jack

[2017-03-20 20:26] cowtowncoder commented on #12
Most likely `RangeSerializer` is using delegation for `BoundType` but really shouldn't; but then deserializer is not delegating handling. I haven't looked at code but I suspect something like this is going on: I don't think polymorphic typing should be enabled for those properties.

[2017-03-20 20:41] cowtowncoder commented on #12
Ok yes; so, whereas "endpoint"s are symmetrically delegated, bound types are not: on serialization they are handled using:

    provider.defaultSerializeField(...)

but deserializer simply expects to get a (JSON) String to map.
Given that `BoundType` is an enum it probably should just be serialized using `name()`; probably no reason to make it be configured as regular enum (which can be configured

[2017-03-21 05:14] #12 closed

[2017-03-21 05:15] cowtowncoder commented on #3
Can not reproduce at this point, closing.

[2017-03-21 05:15] #3 closed

[2017-05-26 10:59] Sytten opened #13 "No JAR in maven central release"
Hi,
I want to use the lib, but there are no JAR in the maven central releases...
Is it possible to add them in the future releases.
Thanks

[2017-05-28 03:39] cowtowncoder commented on #13
Which jar? All jars should be available from Maven Central normally. Please specify which one you are trying to refer to (Maven coordinates).

[2017-05-28 14:12] Sytten commented on #13
https://search.maven.org/#artifactdetails%7Ccom.fasterxml.jackson.datatype%7Cjackson-datatypes-collections%7C2.8.8%7Cpom

[2017-05-28 14:13] Sytten commented on #13
I ended up using directly the guava datatype and it worked.

[2017-05-31 00:33] cowtowncoder commented on #13
Ah. The parent component is of type `pom` (and not `jar` or `bundle`), which is why your reference would fail.

Your usage is correct: individual collection modules need to be referenced separately; parent pom is not of much use as it only specifies settings for individual components, and no code.

[2017-05-31 00:33] #13 closed

[2017-06-28 13:18] gcooney opened #15 "[guava] Java Serialization Support"
Core Jackson has support for serializing ObjectMappers since 2.1.  But if you add in the guava module, java serialization no longer works because the guava extensions are not serializable.

[2017-06-28 13:19] gcooney commented on #15
Happy to submit a PR, if there is interest.

[2017-06-28 16:37] cowtowncoder commented on #15
Yes, would be interested since goal (for 2.x... quite possible this will be dropped from 3.x) is to keep `ObjectMapper` / `ObjectReader` / `ObjectWriter` JDK serializable.

[2017-06-28 17:39] gcooney commented on #15
Great!  I'll take a stab sometime in the next day or so and submit a PR.  I'll throw a vote for keeping support in 3.x.  Specific use case here is that Apache Beam requires transformation steps to be serializable.

[2017-06-28 18:38] cowtowncoder commented on #15
@gcooney Ok. Keeping/dropping serializability is up for discussion once 2.9 is done. It's tricky one since it combines practicality (turns out there are many classes that need to be serializable, and even if few require much work it adds up... and is bit fragile) with philosophical (it could be argued it's wrong to make stateful non-data object such as mapper serializable).
At the same time, there

[2017-06-29 13:00] plokhotnyuk opened #16 "[hppc] @JsonDeserialize contentAs support is wanted"
...to allow parsing array of numbers represented by strings and bind them to IntHashSet, etc.

[2017-06-30 07:01] Petikoch commented on #13
@cowtowncoder I run into the same problem...

Because https://github.com/FasterXML/jackson-datatype-guava is "deprecated", I tried to use jackson-datatypes-collections as dependency instead... but there is no jar in maven central... etc

Is the real issue maybe the deprecation of jackson-datatype-guava? Maybe this shouldn't be deprecated?

Have a nice day and best regards,
Peti

[2017-07-10 19:35] cowtowncoder commented on #13
@Petikoch Only repository is deprecated not the jar. It is bit confusing, but please still use the artifact `jackson-datatype-guava`. Parent pom should not be directly used.
I hope this makes mopre sense.

[2017-07-11 18:27] #15 closed

[2017-07-11 18:32] cowtowncoder commented on #16
Do you mean that values are Strings containing numbers?

It might be easiest to show bit of code (or even unit test?) to make sure I understand the intent.

Note, too, that specific mechanism of `contentAs` must conform to Java type (NOT json representation), so, for example `IntHashSet` really would not benefit from this. However it should support coercion from Strings, if allowed by relevant `De

[2017-07-18 08:38] amergey opened #18 "jackson-datatype-guava version range is too restrictive"
Hello,
Currently guava version range (in osgi) exclude guava 20, the version range should be less restrictive and should allow more recent version of guava to be used

[2017-07-18 08:49] #18 closed

[2017-07-18 08:49] amergey commented on #18
just saw it was already done in master

[2017-08-11 03:27] cowtowncoder opened #19 "(guava) Multimap serializer produces wrong Schema structure"
(note: root cause for https://github.com/FasterXML/jackson-dataformats-binary/issues/103)

Looks like `MultimapSerializer` is reporting its structure same as regular `MapSerializer`.
This incorrect since its values are wrapped in an array.

[2017-08-11 03:30] #19 closed

[2017-08-15 16:03] wbautistaEXPEDIA commented on #19
Thanks a ton for getting to this so quickly. Do you have an ETA on the release for this? Also, please confirm this will be available in 2.9.1.

[2017-08-15 16:58] cowtowncoder commented on #19
Yes, this will be in 2.9.1. Releases usually based on rate of fixes (released when enough important fixes).
Usually first .1 release occurs no later than 4 weeks after .0 release, but there's been surprisingly low rate of bug reports so we'll see. Guessing end of August 2017 might be likely release date.

[2017-09-01 14:14] wbautistaEXPEDIA commented on #19
I noticed the 2.8 line was released. Any update on 2.9.1?

[2017-09-01 21:36] cowtowncoder commented on #19
@wbautistaEXPEDIA Still collecting patches, but should do release within next 2 weeks.

[2017-09-13 14:47] digitalillusion opened #20 "Guava deserialization not working when object to deserialize comes from different classloader"
Hello,

I'm using retrofit2 to read json from an http page, but I get the following exception:

 at [Source: okhttp3.ResponseBody$BomAwareReader@5dd9326d; line: 1, column: 1]
	at com.fasterxml.jackson.databind.JsonMappingException.from(JsonMappingException.java:305)
	at com.fasterxml.jackson.databind.deser.DeserializerCache._createAndCache2(DeserializerCache.java:268)
	at com.fasterxml.jackson.dat

[2017-09-13 20:21] cowtowncoder commented on #20
I am not sure that is correct -- classes across class loaders do not mix. So although check might pass I don't think result would be any better since deserializer refers to different "copy" of class; from JVM perspective they are different classes despite having same name, package, and possibly bytecode.

And worse, I don't know how this could be tested.

[2017-10-29 21:23] thestarmaker opened #23 "Guava version out of date"
Hello my dears, was wondering why is guava module still dependant on guava 18?

Guava is currently at 23.3, this causes problems with other libraries that do require younger things. For example  com.google.common.reflect.TypeToken.isAssignableFrom(TypeToken<?> type) is no longer there since version 20.

[2017-10-29 21:53] Stephan202 opened #24 "Support for Guava's `Immutable{Double,Int,Long}Array`"
As of Guava 22.0 there are:
* [`ImmutableDoubleArray`](https://google.github.io/guava/releases/22.0/api/docs/com/google/common/primitives/ImmutableDoubleArray.html)
* [`ImmutableIntArray`](https://google.github.io/guava/releases/22.0/api/docs/com/google/common/primitives/ImmutableIntArray.html)
* [`ImmutableLongArray`](https://google.github.io/guava/releases/22.0/api/docs/com/google/common/primiti

[2017-10-30 00:25] cowtowncoder commented on #23
@MichK21 the way we view setting is that it is a minimum version requirement, and that requiring newer minimum will prevent more projects from using module than being more conservative.
Nothing prevents projects from using a newer version, except for strange versioning strategy Guava sometimes follows with quite aggressive deprecation.
Guava version is being upgraded incrementally, however; consid

[2017-10-30 18:23] cowtowncoder commented on #24
I think that we probably can not bump dependency up for 2.9, due to timing; I'd be more willing with minor versions. Plus it's the last 2.x too... although at some point we may have to reconsider if and when Guava's compatibility constraints make it impossible to support older and newer versions.

However: for 3.0 I think we can upgrade to 22. Since `master` is now 3.0.0-SNAPSHOT, PR could be done

[2017-11-14 16:18] twbecker opened #25 "SetMultimap should be deserialized to a LinkedHashMultimap by default"
Currently, when deserializing to a field declared simply as a `SetMultimap`, a `HashMultimap` is used as the implementation. This is at odds with Jackson's default behavior for normal `Map`s where a `LinkedHashMap` is used to preserve the ordering present in the JSON. It seems like the Guava module should analogously use `LinkedHashMultimap` as the default `SetMultimap` implementation.

[2018-02-13 18:33] neelav opened #27 "Null value handling not supported for `Optional` within `Multimap`"
I'm using jackson, jackson-data-type-jdk8, and jackson-datatype-guava at version 2.8.8

It looks like nulls in my JSON object are being deserialized as null instead of Optional.empty().

I wrote a little test that shows what's happening:

[code]

The output of the junit test is:

java.lang.AssertionError:
Expected: is <{a=[Optional[5.0], Optional.empty, Optional[6.0]]}>
     but: was <{a=[Optional

[2018-02-13 23:54] cowtowncoder commented on #27
Thank you for reporting this. You may be right here, Guava deserializers are sometimes bit behind standard JDK handlers. One way to see is to have a look at `jackson-databind` equivalents.
I will do that when I have time to work on this, but if you want to try out fix and matching unit test for PR, that'd be great too.

[2018-02-14 00:53] neelav commented on #27
Yup looks like there's a bug.  In ObjectArrayDeserializer I see exactly the line I was referring to

https://github.com/FasterXML/jackson-databind/blob/jackson-databind-2.8.8/src/main/java/com/fasterxml/jackson/databind/deser/std/ObjectArrayDeserializer.java#L194

[2018-02-14 00:57] cowtowncoder commented on #27
Sounds reasonable then. Similar problem may well be present in other Guava container deserializers as well; in many cases new handling has been introduced in minor versions (of `jackson-databind`), but retrofitting all datatype modules may be incomplete.

[2018-02-14 03:48] cowtowncoder commented on #27
Hmmh. Need to change test slightly, to use `AtomicReference` as I don't want to add  dependency to java8 module. But should be equivalent as both are reference types, but `AtomicReference` supported by core databind.

[2018-02-14 03:59] neelav commented on #27
I encountered the same issue using guava’s optional too.

On Tue, Feb 13, 2018 at 7:48 PM Tatu Saloranta <notifications@github.com>
wrote:

--
*The information contained in this email is confidential. It is intended to
be read only by the person to whom it is addressed. If you have received
this in error or are not the intended recipient, please immediately notify
the sender and delete all copies

[2018-02-14 05:44] cowtowncoder commented on #27
@neelav Ah. Good point, yes. Not sure how I missed that one :)

[2018-02-14 06:53] #27 closed

[2018-02-14 19:13] neelav commented on #27
any chance this could be backported to the 2.7/2.8 branches too?

[2018-02-14 20:23] cowtowncoder commented on #27
@neelav Unfortunately no, for couple of reasons, mostly because 2.7 and 2.8 are closed for general releases (although micro-patches for critical issues can be made, on per-component basis). But partly since code would have to differ a bit as use of null value handler is new in 2.9.

Although if you really wanted to backport for 2.8, I could help with PR.

[2018-02-14 20:55] neelav commented on #27
2.8 would be great if possible

[2018-02-14 21:00] cowtowncoder commented on #27
@neelav What I mean is that I can help if anyone else wants to work on that -- at this point I do not have time or interest myself.

[2018-02-14 21:01] neelav commented on #27
ah ok fair enough :).  We have a couple older projects that need to be updated from 2.7.  I'll work on upgrading and if it's too much of a pain to get it to 2.9 I'll come back and ask you for pointers

[2018-02-14 22:07] cowtowncoder commented on #27
Sounds good. I just didn't want to give impression I'll work on this in case someone else had a chance & need to do that. Good luck and feel free to ask questions on mailing list wrt upgrades, as necessary.

[2018-03-01 10:49] komamitsu opened #28 "Deserialization of Guava's Optional type fails with 2.7 or later"
The following code works with version 2.6, but it doesn't work with 2.7 or later.

[code]

[code]

I guess this delete https://github.com/FasterXML/jackson-datatype-guava/commit/85e894e8a211a7107230054b812e5d0b8dde34f2#diff-49f8660695e4a3f0da79d80faf35e1e7L249 is related to it.

My questions are:
- Is this behaviour expected?
- Is there any workaround?

[2018-03-01 15:18] cowtowncoder commented on #28
`Optional` should work, and there are a few unit tests to back it up. I am guessing that in your case problem is construction of `JavaType`:

JavaType type = mapper.getTypeFactory().constructParametrizedType(Optional.class, Optional.class, String.class);

which somehow does not result in proper type: it should be `ReferenceType`, starting with 2.7; earlier it would have been just `SimpleType`.

So

[2018-03-02 13:55] komamitsu commented on #28
Thanks! That works.

[2018-03-02 18:14] cowtowncoder commented on #28
@komamitsu Ok good. I don't know why the other approach does not -- I think it should.
I will actually reopen this for now so I can have a look.

Thank you for reporting the issue.

[2018-04-19 09:37] yawkat opened #29 "Add eclipse-collections support"
Is there interest in support for [eclipse-collections](https://www.eclipse.org/collections/) (primitive collections)?

I'd be happy to try my hand at implementing support for it if there's no reason against it.

[2018-04-20 01:31] cowtowncoder commented on #29
@yawkat The more the merrier, new datatype libraries are always welcome!

I am not familiar with `eclipse-collections`, but if is similar to existing datatypes (as name suggests), it might be easy enough to support.

Whether you want to try to integrate it here immediately, or create a separate repo and integrate later is up to you. Both work, and I can help with details.
If you do want to start s

[2018-04-20 10:04] rhengeveld commented on #13
Might I suggest to add this information to the project page? 🙂

It took me a while to figure out to add the (Guava) module - rather than the parent - as dependency
[code]
and to correctly register the `GuavaModule` (Spring Boot 2) to get the (de)serializers found
[code]

Now that's done - this is awesome work! Much appreciated.

[2018-04-20 14:35] cowtowncoder commented on #13
@rhengeveld Good idea, added!

[2018-04-21 09:00] yawkat commented on #29
I am working on a 2.9 fork of this repo now.

I do have a question about collection types. I have here a class layout that contains both collection and collection-like supertypes:

- InternalIterable extends Iterable and is collection-like (should it be? I'm not sure)
- Bag extends InternalIterable and is definitely collection-like
- MutableCollection extends java.util.Collection and is thus a col

[2018-04-21 11:04] yawkat commented on #29
A prototype is available [at my fork](https://github.com/yawkat/jackson-datatypes-collections/tree/eclipse-collections-0)

[2018-04-21 23:39] cowtowncoder commented on #29
So, on `TypeModifier`: anything that implements `Map` or `Collection` is typically best left as-is: those will already be "upgraded", as you noticed. There are currently 2 main reasons to add `TypeModifier`, originally to support Scala:

1. `Optional` and similar reference types: ability to recognize these simplifies addition of (de)serializers a lot.
2. Collection-like and Map-like types gets som

[2018-04-21 23:47] cowtowncoder commented on #29
One other minor observation: for binary types, token deserializer sees may be either `VALUE_STRING` (for textual formats that have no metadata to denote base64-encode; json, xml), or `VALUE_EMBEDDED_OBJECT` for formats that do have metadata to indicate "true" binary (or, in case of YAML, base64-encoded but annotated as binary), such as `protobuf` and `avro`. In both cases `getBinaryValue()` works,

[2018-04-22 08:38] yawkat commented on #29
My collection/collection-like problem goes a little deeper than this. Let me try to be more specific. (this is purely a *de*serializer problem, the normal Iterable serializer works fine for the relevant classes)

The facts leading up to this:

- eclipse-collections includes a number of reference collections. All of these implement the `InternalIterable` interface (an extension to `Iterable`) and `

[2018-04-22 19:11] nikhilnanivadekar commented on #29
@yawkat thank you very much for this enhancement! It is much appreciated. Please feel free to tag me if you have any Eclipse Collections related questions, will be happy to help!

[2018-04-23 06:17] yawkat commented on #29
Okay, thank you.

I've removed my type modifier. All tests pass now. Is [this](https://github.com/yawkat/jackson-datatypes-collections/commit/33e09acaf149f4e2a87e5e4097c7f4706ae78e77#diff-1c7732c297dfe5e18198bf20b3db287cR196) fine for default deserializers and typedeserializers? It passes my tests because the deserializers are contextual but I don't know if this is just luck.

Any other things I n

[2018-04-25 08:10] yawkat commented on #29
Well I just noticed that the original use case I had for this requires *Map support, so I'll be implementing that as well.

[2018-04-26 10:24] yawkat commented on #29
I have implemented deserializer support for maps now ([commit](https://github.com/yawkat/jackson-datatypes-collections/commit/33f68c4c01b44fa6cda82b9360b8380024b6715a)). There are a *lot* of these types (one for each pair of primitives). I did my best to share as much code as possible but there is still a *lot* of code. I generated some of it using a python script - I do not want reflection here (

[2018-04-28 08:46] yawkat commented on #29
The map serializers are also done now: https://github.com/yawkat/jackson-datatypes-collections/commit/c9b37373fac5963ab912d1f5a726f3465b5d83e1

[2018-04-28 16:09] wykapedia commented on #24
I can look at implementing this perhaps.  Here is an example of `ImmutableLongArray` deserializer:

[code]

[2018-04-28 16:52] Stephan202 commented on #24
@wykapedia, as far as I'm concerned: please go ahead :) (Although I opened the issue and indicated I'd be fine producing a PR, I won't have time for this in the near future. So we won't be in each other's way.)

[2018-04-29 17:06] cowtowncoder commented on #24
Note that no decision yet made to go to version 22.0 of Guava, although baseline will be at least 20 (for 3.0) and so deciding slightly higher baseline is not out of question.
Java 8 won't be problem with 3.x at least

I recommend suggesting version dep bump on:

https://groups.google.com/forum/#!forum/jackson-user

(or maybe `jackson-dev`?)

[2018-05-01 04:31] cowtowncoder commented on #24
@wykapedia There is pretty big harm for everyone who has a dependency to older Guava version because of aggressive deprecation policy Guava has. If we force use of a newish version I can guarantee I will get a flood of bug reports....

[2018-05-03 17:55] cowtowncoder commented on #29
Thank you for updates -- apologies for slow follow up, I am bit swamped now that I am starting at a new job. I'll go through comments above, answer questions best I can next.

[2018-05-03 18:05] cowtowncoder commented on #29
Ok, yes: with primitive types, Java handling, there is no good way around fact there is plenty of duplication.
Java 8 is fine I think, it being a new module and able to pick up initial baseline. Plus Jackson 3.0 is Java 8 anyway.

I think I'd be happy to merge a PR against `2.9` branch of this repo?

One other thing I need (unless I've asked, sorry, so many contributions to review) is CLA:

https:

[2018-05-06 14:07] yawkat commented on #29
I have signed the CLA and mailed it to you.

The PR for these changes is in #30 . I'd be happy with commit access, maybe I'll add support for the few other missing types of eclipse-collections in the future.

[2018-05-15 04:40] cowtowncoder commented on #29
Excellent!

[2018-05-25 21:25] derekdata opened #31 "Uploads of jar to maven central do not appear to be working"
http://repo1.maven.org/maven2/com/fasterxml/jackson/datatype/jackson-datatypes-collections/2.8.11/ has a pom file, but not a jar file.  This is true for other versions as well.

[2018-05-25 21:36] derekdata commented on #31
I see now that this is just a parent pom and there is no aggregate artifact.  Please disregard, thanks!

[2018-05-25 21:36] #31 closed

[2018-06-28 06:52] knorp commented on #23
Unfortunately the current upper limit of version 22 is indeed an issue because if your repo has "only" the current 23.x version available the depenency will not be satisfied. I didn't test it myself but is this limit unintended or does the step from 22 to 23 indeed have breaking changes for this module?

[2018-06-28 16:53] cowtowncoder commented on #23
This component is essentially community owned, so if anyone has time and interest to investigate compatibility, that would help.

My understanding is that extending range of allowed versions is probably safe, so as long as someone with time could verify locally that build and all tests pass with, new major versions (like 23), I am happy to make change to open branches.

Updating baseline version i

[2018-06-28 16:57] cowtowncoder commented on #23
Note: I went ahead and sent an email myself.

/cc @stevenschlansker

[2018-06-28 19:44] stevenschlansker commented on #23
@knorp , how come your repo only has the latest version available?  That is likely to cause a lot of problems, Jackson cannot possibly choose a single version that everyone's private repository agrees is the "blessed" version.  Sounds like a losing battle to me.

I would agree that Jackson should keep the Guava version reasonably old, so as not to force upgrades on application developers.  But of

[2018-07-02 09:36] knorp commented on #23
@stevenschlansker this was a constructed example to illustrate the point that a higher version is not allowed. In my actual case the issue is that I'm working on a fairly large project where other parts (or other developers) would be interested in a more recent guava version but this module is blocking us from upgrading.

@cowtowncoder I'm considering to look into reviewing the version upgrade mys

[2018-07-05 19:47] stevenschlansker commented on #23
Yeah, it wouldn't be a problem at all, except for Guava removing API...  Makes more sense that it's a synthetic test.

[2018-07-05 20:38] cowtowncoder commented on #23
@knorp All green tests, for both minimum and maximum guava versions (may need to locally change deps to do manul run -- ok for me, unless you or someone else figures out a clean way to do integration tests against diff guava versions).

[2018-07-05 20:50] stevenschlansker commented on #23
To write such a test, you'd likely need a separate module per Guava version (which doesn't need to be `install`ed or `deploy`ed by Maven) and `dependencyManagement` the guava version to the specific one for that test.

[2018-07-05 21:05] cowtowncoder commented on #23
@stevenschlansker Right, that seems likely. I have built simple tests under

https://github.com/cowtowncoder/jackson-compat-minor

to compare some version compatibility, but it is not easily modifiable across versions of one component, but more across sets.
It could be that some other tools (gradle?) might have more support, or perhaps specific maven plugins. Although the idea of changing versions

[2018-09-06 08:23] mateusz-bajorek opened #35 "[PCollections] jackson-datatype-pcollections is missing serializers"
As in the topic, PCollections support in jackson is missing serializers for `TreePVector`, `MapPSet` and others.
From the module class:
[code]

[2018-09-07 02:06] cowtowncoder commented on #35
Indeed. If anyone is interested in adding support, would love to help get PRs merged.

[2018-10-03 15:43] guruxu opened #36 "When will Guava updated for CVE-2018-10237?"
@cowtowncoder any plan to bump up the version of guava to address [CVE-2018-10237](https://github.com/google/guava/wiki/CVE-2018-10237) soon?

[2018-10-03 23:41] cowtowncoder commented on #36
I don't think upgrading to latest Guava version can happen any time soon, due to Guava's aggressive versioning. Unless there is a backport to earlier versions.

But as to CVE in question: if I understand it correctly, it wouldn't seem like it would affect Jackson usage -- Jackson does not use JDK serialization for its operation, nor methods that would cause pre-allocation.
Or am I misunderstanding

[2018-10-03 23:49] plokhotnyuk commented on #36
Should not that classes be black-listed?

[2018-10-03 23:55] cowtowncoder commented on #36
@plokhotnyuk only if there is an attack vector, and it seems to me that based on description there isn't.
To me description suggested that attack would require accepting JDK serialized payload of affected classes to be deserialized, and this is not how Jackson works. So even thought it is an example of general serialization attack, it is not something that is ever done with Jackson: Jackson guava

[2018-10-31 05:17] cowtowncoder commented on #36
2.10.0 of the module will at least allow versions up to 25, wrt version range, as per #34

[2018-10-31 05:17] #36 closed

[2018-10-31 05:19] cowtowncoder commented on #29
Was included in `2.9.5`, although I guess official first minor version will be 2.10.0.

[2018-10-31 05:19] #29 closed

[2018-12-12 18:42] leventov opened #38 "Support for fastutil collections"
It would be nice to support fastutil collection
The previous discussion: https://markmail.org/message/anwbtpgbvwh4ox4v#query:+page:1+mid:xqwwbpgh2ul46nst+state:results

I could do this by copy pasting https://github.com/FasterXML/jackson-datatypes-collections/tree/master/hppc and some parts from https://github.com/FasterXML/jackson-datatypes-collections/tree/master/eclipse-collections very literal

[2018-12-12 19:30] cowtowncoder commented on #38
First of all, +1 for `fastutil` datatype.

As to shareable code, I am bit ambivalent on that, mostly regarding technical details of how to make it work in a way that does not add fragility.
So, I am +1 for being able to reuse up-to-date components, in itself. But I am bit worried about keeping things in-sync, and not adding to challenges of inter-component dependencies.
I have limited reuse/adopti

[2018-12-13 19:33] leventov commented on #38
I was thinking about extracting yet another separate package "jackson-databind-primitive-collections-base", on which hppc, pCollections, eclipse-collections and fastutil could depend, rather than pulling that base classes into `jackson-databind` itself. Maybe if they are in a separate package, compatibility standard could be eased a bit.

[2019-01-10 02:43] leventov opened #40 "Issue in RefRefMapSerializer"
The following call of Map.contains on a map with `String` keys with an `Object` argument:
https://github.com/FasterXML/jackson-datatypes-collections/blob/c374783ff962041d003125cbd7b617bab5d16bff/eclipse-collections/src/main/java/com/fasterxml/jackson/datatype/eclipsecollections/ser/map/RefRefMapSerializer.java#L225

Probably the key should be serialized before checking if it should be ignored.

[2019-01-14 04:53] vjkoskela commented on #24
There is the flip-side as well; we depend on Jackson and Guava and regularly update both. The longer it takes to achieve version compatibility across the two the more difficult it is for us to remain up to date with bug fixes and features. I've responded to the Google group linked above as well.

We've recently upgraded to Guava version 25 as version 23 is already over a year old. I assume it's no

[2019-01-16 19:36] cowtowncoder commented on #24
@vjkoskela It's a particularly tricky problem, and I don't have very good solutions.
Ideally I think we would be using versioning in some form -- perhaps similar to how Scala module works... or Hibernate? -- but whereas number of major versions for those is sort of limited / low, Guava has produced larger number of somewhat disjoint versions.

Then again, wasn't there some talk about Guava stabili

[2019-01-25 06:15] 2is10 opened #41 "A getter that returns an abstract collection breaks a delegating @JsonCreator"
The following test throws:

[code]

This is a spurious error since the `@JsonCreator` constructor only requires `Collection<Integer>`, not `AbstractSet<Integer>`.

Some workarounds:

- Delete `getVals()`.
- Make `getVals()` non-public.
- Move `@JsonValue` to `getVals()`.
- Add `@JsonIgnore` to `getVals()`.
- Add `@JsonAutoDetect(getterVisibility = Visibility.NONE)` to `ValSet`.

[2019-02-05 06:49] cowtowncoder commented on #41
@2is10 thank you for reporting this: with quick glance this does seem like a bug: for deserialization, the highest precedence information should be constructor parameter which declares expected type of `Collection<Integer>`, and whatever type serialization side has (getter) should not override this (not `@JsonValue`, which should not even come to play here).

[2019-02-24 17:49] motlin opened #43 "Bug deserializing Eclipse Collection's MutableMap."
First off, thank you very much to @yawkat and @cowtowncoder for adding support for Eclipse Collections. I'm trying to change some usages of Map to MutableMap in my DTOs and running into an exception.

I've included two tests below to show the issue. I'm not sure if it's the same as #40.

The java.util.Map test passes with no output. The MutableMap test throws:
[code]

In JacksonEclipseCollectionsT

[2019-02-26 09:51] yawkat commented on #43
Thank you for the @-mention, I didn't follow issues :)

This looks to be the issue fixed in #39.

[2019-03-04 15:56] motlin commented on #43
I guess I'm just waiting on a release then! Thanks.

[2019-03-04 15:56] #43 closed

[2019-03-11 07:11] Nireus opened #45 "HostAndPortDeserializer rely on older version property name"
`HostAndPortDeserializer` should use field name `host` instead of `hostText`

jackson-datatypes-collections:guava
[code]

Guava
[code]

[2019-03-11 14:37] cowtowncoder commented on #45
First question: which library is this about? Guava? If so, could you please add Label to indicate that?

Second: Assuming this is Guava, we may have a problem: Jackson does not require Guava 20; for 2.9 and 2.10 minimum version is 18. Ideally it would work with multiple versions.
But as long as we can accept either `host` or `hostText` that should be fine: code should be able to check newer field

[2019-03-15 18:18] ernesto-alvarado opened #46 "reference to Module is ambiguous when compiling GuavaModule"
Vanilla jackson-datatypes-collections code fails when running tests:

[code]

Fails with:

[code]

Using jdk :
[code]

[2019-03-19 04:49] cowtowncoder commented on #46
Thanks! Yes it is the accursed `Module` type that JDK 9 added; it already existed in Jackson long before but became a potential naming conflict with it.
But since I use JDK 8 myself (except for Travis builds), it is easy to miss some cases where explicit fully-qualified name must be used.

[2019-03-19 04:55] #46 closed

[2019-03-19 11:11] ernesto-alvarado opened #47 "guava tests failing with jdk8"
The test jackson-datatypes-collections/guava/src/test/java/com/fasterxml/jackson/datatype/guava/TestMultimaps.java fails with:

[code]

Is this test outdated?

[2019-03-21 02:43] cowtowncoder opened #48 "Add simple module-info for JDK9+, using Moditect"
For Jackson 2.10, let's add Moditect-sourced/handle module-info.class.

[2019-03-21 02:44] cowtowncoder commented on #47
No, this should work just fine, but it is probably compilation issue wrt 3.0 refactoring that I just fixed yesterday.

[2019-03-21 02:44] #47 closed

[2019-03-21 02:49] cowtowncoder commented on #38
That works, either as separate artifact, or by maybe shading common parts (I think having single source gets most of benefits) into artifacts.

[2019-03-21 03:00] #48 closed

[2019-03-21 19:42] mattdarwin commented on #23
There is a [security vulnerability in guava versions below 25.1](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-10237).  Users of Jackson-guava could inadvertently be exposed to this if they use the transitive dependency on guava 18.0 without shading.

Since version 21.0, guava has stopped the aggressive deprecation of its APIs, and all non-beta APIs are supported in all future versions.

[2019-03-22 03:10] cowtowncoder commented on #23
@mattdarwin At this point everything that I have read suggest that CVE is irrelevant for Jackson, so I hope that next time this gets brought up someone reads through and suggests a feasible mechanism to suggest how it might affect Jackson use case. As I understand it, vulnerability is directly tied to JDK (de)serialization of Guava types, and Jackson does not use JDK serialization for anything.

T

[2019-03-25 10:45] mattdarwin commented on #23
I agree that the CVE is irrelevant for Jackson.  But the point is that by including a dependency with a vulnerability in the dependency tree, you are exposing all users of Jackson to the CVE, if they decide to use the transitive guava dependency to do deserialisation.

Another concrete example: where I work (Oracle) we are forbidden from using any library which has a vulnerable dependency.  If you

[2019-03-25 17:39] stevenschlansker commented on #23
Thankfully you can eat your cake and have it too -- use Maven `<dependencyManagement>` to version your Guava dependency explicitly, and it will entirely ignore Jackson's preference.  This allows you to substitute out the vulnerable dependency without needing to branch or rebuild Jackson.

That allows both you to proceed forward in accordance with your perhaps draconian security policy, and allows

[2019-03-25 17:42] stevenschlansker commented on #23
In fact, by introducing the upgrade, we are guaranteeing version resolution pain for downstream users.  IIRC, since the versions `26.0-jre` and `26.0-android` do not compare the same, one will be "newer" than the other.  Each library much pick which one to depend on (i.e., there is no `guava-api` that covers both).  This means when you run dependency version check plugins, or check for convergence

[2019-03-25 17:53] mattdarwin commented on #23
Users can of course use shading or dependency management to modify the transitive dependency (although that still won't be enough to satisfy Oracle's security policy and approve use of the library).  I would have thought that Jackson should be supplying the latest secure version of guava by default, and if any users want to explicitly use older, insecure versions of guava, the onus is on them to m

[2019-03-25 18:39] cowtowncoder commented on #23
My experience with Guava dependencies is that there is no win-win position anywhere. In fact, to be completely safe, we'd have to use Scalaic "double versioning" which could combine Jackson core version with Guava version.

But I don't have interest in getting into this version matrix challenge... so the best we can do is find a reasonable compromise between bleeding edge and some sort of center o

[2019-04-06 03:13] #45 closed

[2019-05-30 12:32] leventov opened #52 "Failure of DeserializerTest.pairTyped()"
In this test, the pair gets serialized with key and value reversed:
[code]

What I've found so far:

- The test doesn't fail in debug mode (when debugged from within IDE), only in "production" mode (e. g. when Maven tests are run)
- The test doesn't fail when it is run alone, only when it is run together with other tests (in that class and module)
- The test doesn't fail when run on Java 8 runtime

[2019-06-04 04:40] cowtowncoder commented on #52
Ok, which datatype package? (I use labels to indicate that)

[2019-06-04 07:13] yawkat commented on #52
These tests are a bit too harsh: https://github.com/FasterXML/jackson-datatypes-collections/blob/master/eclipse-collections/src/test/java/com/fasterxml/jackson/datatype/eclipsecollections/DeserializerTest.java#L629-L652 - they could allow changing property order

still a bit weird that it broke now

[2019-06-17 09:19] jonfreedman commented on #27
GuavaImmutableCollectionDeserializer also suffers from this issue - see the following failing test

[code]

[2019-06-18 15:38] cowtowncoder commented on #27
@jonfreedman could you please file a new issue, adding that test case? This makes it easier to keep release notes clear when one issue tracks one specific problem, fixed in specific version.

[2019-07-29 06:56] jonfreedman opened #53 "`GuavaImmutableCollectionDeserializer` cannot deserialize an empty `Optional` from null"
The following test should pass

[code]
See https://github.com/FasterXML/jackson-datatypes-collections/issues/27

[2019-07-29 23:51] cowtowncoder commented on #53
I assume this is verified against 2.9.9?

[2019-07-30 07:21] jonfreedman commented on #53
I've verified against 2.9.6 but I checked your source, you need to change this line: https://github.com/FasterXML/jackson-datatypes-collections/blob/master/guava/src/main/java/com/fasterxml/jackson/datatype/guava/deser/GuavaImmutableCollectionDeserializer.java#L40

value = null;
becomes
value = valueDes.getNullValue(ctxt);

Same fix as https://github.com/FasterXML/jackson-datatypes-collections/com

[2019-07-30 18:28] cowtowncoder commented on #53
Got it, thanks!

[2019-08-09 00:03] #53 closed

[2019-08-09 00:10] cowtowncoder commented on #53
I think this is now fixed, although for testing need to use `AtomicReference` for validation as I can not add dependency to JDK8 module to use Java 8 Optional types.

[2019-08-09 00:16] cowtowncoder opened #54 "Unreliable test for `eclipse collections`: `DeserializerTest.pairTyped()` sometimes fails"
So, not sure if this is something I have caused, but one test in `DeserializerTest` seems to occasional fail (on JDK 8 at lest), as serialization order of `one` and `two` sometimes change.
I didn't dig deep, but maybe it is just that `ObjectXxxPair` entries are serialized as POJOs in which case order is arbitrary (and so test should be made more robust not to assume ordering).

If so, one thing th

[2019-08-09 00:16] cowtowncoder commented on #54
Forgot to mention: this occurs in `2.10` branch (haven't checked earlier).

[2019-08-09 00:18] cowtowncoder commented on #54
@yawkat WDYT?

[2019-08-09 06:58] jonfreedman commented on #53
Thanks, I'll verify when you cut the next release

[2019-08-17 07:58] yawkat commented on #54
This is the same issue as #52

You are right about the cause. At this point I'd rather avoid adding a special serializer for pairs, at least until the fastutil work is complete. I will make a PR to make the test more robust for now

[2019-08-21 08:09] philleonard opened #56 "Range property name (de)serialisation doesn't respect property naming strategy"
Field names in the Guava `Range<T>` are serialised and deserialised with the hard coded values `lowerEndpoint`,  `lowerBoundType`, `upperEndpoint` and `upperBoundType`:
[code]
For consistent JSON field naming it would be nice to support other property naming strategies. For example snake case:

[code]
Please see here for the basic idea https://github.com/philleonard/jackson-datatypes-collections/c

[2019-08-21 16:39] cowtowncoder commented on #56
True, since there's custom (de)serializer, instead of default POJO one, field names are essentially hard-coded. Would be happy to work on improvement.

On proof-of-concept, calling field name mutators on-the-fly is bit cost-prohibitive, so I would not want that to occur at time of (de)serialization. But you should be able to do that instead in `createContextual()` (implement `ContextualSerializer`

[2019-08-23 21:23] #54 closed

[2019-08-23 21:25] cowtowncoder commented on #52
Fixed as per above PR

[2019-08-23 21:25] #52 closed

[2019-08-24 09:57] philleonard commented on #56
Hi @cowtowncoder, thanks for your quick response. `BeanDescription` (cast to a `BasicBeanDescription`) only has the `protected` field access to the `MapperConfig` where we can gain reference to the `PropertyNamingStrategy`. So I don't see any way to do this without reflection or a change to `jackson-databind` unless I am missing something?

I have gone ahead with your first suggestion for the time

[2019-09-05 03:52] #56 closed

[2019-09-05 03:54] cowtowncoder commented on #28
Actually not sure if there is anything to do here, so will close -- may be refiled if there is a problem.

[2019-09-05 03:54] #28 closed

[2019-09-05 04:04] #23 closed

[2019-09-05 04:06] cowtowncoder opened #58 "Drop support for Guava v10 - v13 to simplify `RangeFactory`"
As support is added for newer Guava versions, retaining backwards compatibility with oldest versions is becoming more difficult, and it is not guaranteed there is actual compatibility.
Due to this, and complexity of `RangeFactory` (to try to support Guava versions down to v10), let's simplify `RangeFactory` by only using methods added in Guava v14.

This affects Jackson 2.10 and later; older versi

[2019-09-05 04:10] #58 closed

[2019-09-11 19:09] steinarb opened #59 "Add apache karaf features to jackson"
This is the part of FasterXML/jackson-databind#2434 that relates to changes to the jackson-datatypes-collections project.

[2019-09-26 16:31] caeus opened #60 "Deserializing ImmutableMap<String,Double> fails"
when trying to deserialize, `let's say {"value":3.0}`
it throws this exception
`Caused by: com.fasterxml.jackson.databind.exc.InvalidFormatException: Cannot deserialize Map key of type `java.lang.Double` from String "value": not a valid representation, problem: (java.lang.NumberFormatException) For input string: "value"
2019-09-26T15:57:49.276742+00:00 app[web.1]:  at [Source: de.undercouch.bson4j

[2019-09-26 16:43] yawkat commented on #60
This looks like the issue fixed in #39 . I'm not sure what the state of 2.10 is, but it should be fixed in that release.

[2019-09-27 01:27] cowtowncoder commented on #60
Funny timing: `2.10.0` is just now released.

In future, including actual code to reproduce the issue would help a lot.

[2019-10-06 11:44] yawkat commented on #60
@caeus Did this fix your issue? If so, please close this report

[2019-10-14 12:06] leventov opened #61 "Document how to generate module files using moditect"
Working on this PR: #51, I'm having trouble generating module-info.java for the new module (`primitive-collections-base`). It would be nice if this repository contained some dev documentation about how to initially generate & update module-infos for new and existing modules in this project.

[2019-10-16 00:21] cowtowncoder commented on #61
Hmmh. That would be nice... I learned it by trial and error, but not sure I ever figured out a reliable mechanism even. Moditect plug-in has (at least) 2 targets; one that is enabled (use existing module-info.java, bake it in) is easy, but one used for first-time generation is trickier.
I think I added plugin settings at some point, under specific profile (so it needs to be invoked by setting mave

[2019-10-16 07:23] leventov commented on #61
A few findings:

1) I had to edit `jackson-databind`'s `module-info.java` and remove the line `requires java.base;` from it. Otherwise, I got error like
[code]
When generating module-infos in jackson-datatypes-collections.

2) In order to do the first `mvn clean install` step in `jackson-datatypes-collections`, I commented out the corresponding sections in modules where module-infos didn't exist y

[2019-10-16 16:17] leventov commented on #61
Another issue is that generated module-info does look quite right to me (at least, it differs from module-infos generated previously), e. g. it has `requires transitive` directives: https://github.com/FasterXML/jackson-datatypes-collections/pull/51/files#diff-ec0e4a55788bc9b83c3cb05dc8017bf0

[2019-10-16 17:12] cowtowncoder commented on #61
@GedMarc any idea why that recently added `java.base` dependency would be problematic here.

@leventov `requires transitive` is sort of matter of taste, I think: it just means that a dependency is exposed automatically to whoever relies on module. If not, they will separately need to declare it.
You can manually change that to follow what other modules are doing, I think: initial generation does N

[2019-10-16 18:18] GedMarc commented on #61
@cowtowncoder java.base is kind of the root of the entire module structure, so shouldn't really be placed anywhere ever. Should maybe raise that as an actual issue on moditect, I know @lukehutch worked on it for a bit? I think perhaps he would know better on this. Any alterations to this module is done forcibly done on the command line --add-opens etc - even in jlink/jpackage artefacts

In terms o

[2019-10-16 19:19] cowtowncoder commented on #61
@GedMarc ok I am asking because you suggested that it should be added in `jackson-databind`:

https://github.com/FasterXML/jackson-databind/issues/2485

which seemed odd but (I thought) harmless. I can easily remove it, just want to make sure it should NOT be there, even if Moditect plug-in might suggest it (which I assume is where it came from)

[2019-10-16 19:26] GedMarc commented on #61
omg oo sorry! *covers face*
I suppose lessons learnt, i got burnt on it trying to do the data.time exposures. I'm not having any issues though on my side using the current databind and annotations - then I have no idea where that error is coming from
We'll see on the jre 11 tests soon soon *tm

[2019-10-16 19:51] lukehutch commented on #61
You can see how ClassGraph uses ModiTect here:

https://github.com/classgraph/classgraph/blob/master/pom.xml

The reason for this usage was to build for JDK 7, but allow for proper `requires` on JDK 9+.

Although fair warning, even putting `module-info.class` into `META-INF/versions/9` can cause older Spring and JBoss installations to crash, since they don't know how to parse the newer classfile f

[2019-10-16 22:22] cowtowncoder commented on #61
Will be interesting to see what kinds of issues users bump into with 2.10.0. I am hoping devs running on very old containers would use older Jackson versions, but one challenge is that due to CVEs reported there has been surprisingly strong push to newer versions.
And 2.10.0 is -- for better and worse -- the version where this torrent of CVEs will stop. So demand for upgrades should be high.

But

[2019-10-17 11:51] leventov commented on #61
@cowtowncoder could you please also remove `requires java.base` in databind's `master` branch?

[2019-10-18 20:24] cowtowncoder commented on #61
Done. Odd that merge didn't do it...

[2019-10-23 19:28] #60 closed

[2019-10-28 07:36] leventov opened #62 "PrimitiveRefMapSerializer and RefPrimitiveMapSerializer don't extend ContainerSerializer"
`ContainerSerializer` (a class in `jackson-databind`) includes some non-trivial machinery which may change in any version of Jackson. `PrimitiveRefMapSerializer` and `RefPrimitiveMapSerializer` (in `primitive_collections_base`) duplicate some parts of that logic (and I'm not sure that they do it right). Therefore, I think it would be nice to refactor these classes to inherit from `ContainerSeriali

[2019-10-28 09:49] leventov opened #63 "A shared utility to test collection types"
It would be nice if there was a shared utility to test the dark corners of ser/deser implementation for proper collection types (i. e. extending either `Collection` or `Map`):
 - Tricky (perhaps, recursive) TypeReferences as contained types
 - Contained types specified in a non-standard way, e. g. via annotation
 - Heterogeneous values
 - Raw collection serialization / deserialization (no generics

[2019-10-29 05:00] cowtowncoder commented on #62
In general, I agree. The only caveat is that for actual primitive value collections, there may be challenges: in databind separate `PrimitiveArrayDeserializers<T>` is used as base class, which does not extend `ContainerDeserializerBase`.

Also: let me know if I can help verifying handling -- it is certainly true that some cases are tricky and handling has evolved over time; even as recently as 2.9

[2019-10-29 05:01] cowtowncoder commented on #63
That would be nice: perhaps something similar to `jackson-compat-minor` project which tried to offer simple verification of compatibility (or lack thereof) between "close enough" minor versions (like datatypes 2.9 working against databind 2.8)

[2019-10-29 11:15] yawkat commented on #62
I think that was my reason for not extending Container**De**serializerBase, but from what I can tell ContainerSerializer is the base class for the primitive array *serializers* so at least that should be fine.

[2019-11-26 19:45] #61 closed

[2020-03-26 14:21] NycuRO commented on #38
It's this going to be added? up

[2020-03-26 17:06] leventov commented on #38
@NycuRO I'm not working on this anymore

[2020-03-28 15:33] NycuRO commented on #38
@cowtowncoder ?

[2020-03-28 16:10] yawkat commented on #38
I don't think anyone is working on this at the moment. The infrastructure is there with primitive-collections-base, but someone would have to implement the fastutil parts. The eclipse-collections module is a good template, so feel free to try your hand

[2020-03-28 17:25] cowtowncoder commented on #38
@NycuRO I do not have time to work on this.

[2020-04-15 07:51] Notlhos opened #65 "Have a crash with serialize guava table(row map)"
https://hastebin.com/onunuworay.js
Sometime, but not always, jackson crash my application, when he try save a Table, how can i fix it?
P.S. Offtop, but i don't know where i can ask my second question. Jackson useful with many applications? Example: My Library has one object for json(with jackson ObjectMapper) to all my projects(15 apps), and sometime jackson is work bad(can't deserialize or someth

[2020-04-15 16:08] cowtowncoder commented on #65
Without a reproduction (as well as information on Jackson version, maybe platform if not J2SE), it is impossible to say what might be happening. A test case would be needed.

On other question: thank you for asking for a better forum for that (since it is bit an open-ended question). 2 suggestions:

1. Mailing list: https://groups.google.com/forum/#!forum/jackson-user
2. Chat: https://gitter.im/Fa

[2020-04-15 18:12] Notlhos commented on #65
https://pastebin.com/ru8takE1 - full crash log
Version: Jackson 2.10.2
![image](https://user-images.githubusercontent.com/42893543/79371774-93686580-7f5d-11ea-8a29-2c425d2f6cf9.png)
![image](https://user-images.githubusercontent.com/42893543/79371862-b85cd880-7f5d-11ea-98f1-7c9674760d94.png)
![image](https://user-images.githubusercontent.com/42893543/79371940-d9252e00-7f5d-11ea-92a4-0d672ccc4140.p

[2020-04-15 18:34] cowtowncoder commented on #65
Seems like it goes through something called `JacksonAPI`, and runs on non-Java JVM language (Kotlin?). Jackson can not do anything about JVM crashes itself (which sounds like JVM bug; may want to try newer patch).

[2020-04-15 21:30] kupci commented on #65
From the thread dump, when it "crashes", it seems to be trying to load a file, so possible config issue (classpath?)
[code]

[2020-04-30 04:06] DotiSandhyaRani3478 commented on #20
Try register the Guava Module like:
ObjectMapper objectMapper = new ObjectMapper();
objectMapper.registerModule(new GuavaModule());

[2020-04-30 06:55] cowtowncoder commented on #20
Regardless of whether the root cause is simply not having module registered (good point, that is a possibility), or if there is class loader issue, module really can not solve either problem (since if it's different classloader Jackson literally can not see the "right" types to handle). Closing.

[2020-04-30 06:55] #20 closed

[2020-06-09 00:29] cowtowncoder opened #66 "(regression) Failure to resolve `TypeDeserializer` in 3.0 for `PairInstantiators`"
Looks like I managed to create bit of conundrum wrt parameter(s) passed to `ValueInstantiator.getFromObjectArguments()` in 3.0. At some point I had change `config` argument to `context`, but this has its problems as per:

https://github.com/FasterXML/jackson-databind/issues/2748

and conceptually I think it might be wrong way to go about it. So I reverted the change.
Which leads us to eclipse-coll

[2020-06-09 01:11] cowtowncoder commented on #66
Added method `createContextual(DeserializationContext)` in `ValueInstantiator` (for 3.0), which I think will allow solution to this problem. But code in `PairInstantiators` is bit complex what with inner classes and closures so it may take a bit to untangle it, as use of this new method will require sub-classing and replacing of said inner classes.

[2020-07-03 16:44] ari-talja-rovio opened #67 "Guava collection deserialization failure with `Nulls.AS_EMPTY`"
Wrapped Guava collections don't deserialize properly anymore. This used to work in 2.9.10 but doesn't work in 2.10.4 anymore. For example the following code fails due to `com.fasterxml.jackson.databind.exc.InvalidDefinitionException`:

[code]

Setting `defaultSetterInfo` seems to pay a meaningful role in the bug, also it happens only with Guava collections. Normal `List` works fine.

As a result y

[2020-07-04 00:04] cowtowncoder commented on #67
Yes, this sounds like regression of some kind, thank you for reporting it.
One thing you can try is to see if 2.11.1 works better. I will try to have a look at this issue in near future.

[2020-07-04 06:10] ari-talja-rovio commented on #67
I've tested it with 2.11.1 as well and it doesn't work on the newer versions either. Seems to be an issue with versions >= 2.10.0.

`ImmutableList<List<T>>` is fine but `List<ImmutableList<T>>` is not.

[2020-07-04 22:00] cowtowncoder commented on #67
Thank you for reporting this, will check what is missing.

[2020-07-04 22:03] cowtowncoder commented on #67
Fixed for 2.10.5, 2.11.2 (and 2.12.0).

[2020-07-04 22:09] #67 closed

[2020-07-04 22:12] cowtowncoder commented on #25
Sounds reasonable to me; somehow did not notice this so apologies for ultra-slow follow up.
Seems like a simple change if anyone wants to have a look: should go in 2.12 branch to be included in 2.12.0 since it is behavior change (small but visible, likely to cause some false test fails somewhere, wrt fragile tests & ordering assumptions).

[2020-07-04 22:13] cowtowncoder commented on #16
And to clarify wrt above: I think what is wanted is value coercions, which is fine; and with 2.12 there is new `CoercionConfig` to verify that such action is allowed by user.

[2020-07-05 03:15] plokhotnyuk commented on #16
Sorry, it was 3 years ago... Now I don't remember a context. Probably it was solved by some custom serializer and deserializer.

[2020-07-05 22:58] cowtowncoder commented on #16
@plokhotnyuk ok np.

[2020-07-05 22:58] #16 closed

[2020-07-21 01:02] markwoon opened #68 "Support for Guava 29?"
`jackson-datatype-guava`  cannot be used with Guava >= 28.0.0 in OSGI.

Is there a reason for this restriction?  If not, can we please lift it?

I'll submit a PR if that'll help...

[2020-07-21 19:01] cowtowncoder commented on #68
I do not recall a reason for this limitation, maybe worth asking about on `jackson-dev` list?
If you could run test suite with 29.x to validate, that could help.

[2020-07-21 21:16] markwoon commented on #68
All tests pass both `29.0-jre` and `29.0-android`.

I've also posted the query to jackson-dev.

[2020-07-21 21:19] markwoon commented on #68
@cowtowncoder You've left comments in `pom.xml` wondering why this limitation exists as well.

Wouldn't it make more sense to just have a lower bound so you don't have to keep changing this?  At least until there's a reason to put an upper bound to the version range?

[2020-07-21 22:44] cowtowncoder commented on #68
I think this limitation came from a contribution related to OSGi metadata inclusion, to allow ranges instead of specific version; that is, to relax limitations. I can see why there is minimum version, but it seems questionable to specify maximum since there simply is no information to base it on.

So, how about this: we can initially just update limit for 2.11.x (or even 2.10.x, if there will be n

[2020-07-22 03:08] markwoon commented on #68
Works for me.  I've just rolled my own for now, although I'd love an official version.

[2020-07-26 23:09] cowtowncoder commented on #68
I'll add my suggestion on mailing list; basically "raise max to 29 for 2.11; remove limit (use... 99? assuming OSGi requires some limit to use ranges) for later"

[2020-07-26 23:17] markwoon commented on #68
Yeah, OSGI requires an upper bound if you use ranges.

[2020-07-26 23:19] cowtowncoder commented on #68
Ok. I don't think use of something like 99 should be problematic but wanted to know what best practices might suggest. I added this to my TODO list (https://github.com/FasterXML/jackson-future-ideas/wiki/Jackson-Work-in-Progress), will just wait for a bit for feedback. But will make it in 2.11.2 / 2.12.0 (and if there will ever be 2.10.6, think I'll backport it in 2.10 branch for fun).

[2020-08-01 02:32] cowtowncoder commented on #68
I'll go ahead and proceed with the suggestion...

[2020-08-01 02:36] #68 closed

[2020-08-18 10:26] Erwyn opened #70 "How to deal with different Guava version than Jackson"
Hello,

I encounter an issue but I guess this is more about me being not knowledgeable enough than the library doing something wrong.

In my `pom.xml` I have `jackson-datatypes-guava` at the version 2.11.2 and Guava at version 29-jre. The issue that arises is that when I call `ImmutableList.toImmutableList()` I have a no such method because it picks the `com.google.common.collect.ImmutableList` fr

[2020-08-18 14:56] cowtowncoder commented on #70
I am not sure I understand the issue with details given yet. Would it be possible to add the stack trace for failure you see?

[2020-08-18 15:13] Erwyn commented on #70
Sure, so here is what I get as a failure:

[code]

The incriminated method is here: https://github.com/google/guava/blame/master/guava/src/com/google/common/collect/ImmutableList.java#L70  and if the comment is correct, it's in there since 21.0 but Jackson-datatypes-guava uses 20.0.

I may be completely wrong and missing something obvious due to inexperience.

[2020-08-18 16:38] cowtowncoder commented on #70
@Erwyn Ah. Ok, so, Jackson Guava module should currently work with all versions starting with 15.0, up to latest (29). So you should be able to define explicit Guava version you would like to use.

Guava module does specify a single "official" dependency version since version range handling has traditionally not worked well across tooling but we have tried to keep module as robust as possible sinc

[2020-08-18 16:47] Erwyn commented on #70
@cowtowncoder thanks for taking the time.

I'm not sure to get what I should be doing.  Here is an extract of my pom.xml:

[code]

So I'm already defining my guava version, or am I not? I need to do something else ?

[2020-08-18 17:09] cowtowncoder commented on #70
@Erwyn Your build file looks fine to me. But I think you will need to figure out what is actually deployed: it probably is not version you specify, given the exception you see.
One thing to try first I guess is to see what `mvn dependency:tree` gives as build-time dependency version (should be 29.0-jre based on above). But after that, it depends on how thing you are running is packaged. I'd guess

[2020-08-19 09:30] Erwyn commented on #70
Hi @cowtowncoder,

that's indeed strange, `mvn dependency:tree` gives me indeed back 29:

[code]

[2020-08-19 20:25] cowtowncoder commented on #70
@Erwyn right, but build time dependencies do not always become actual runtime inclusions: so while this is correct, the issue then is that during runtime Guava version in use is not 29.0-jre.

But this depends on how artifact to deploy is built: it could be a single "uber-jar" (but if so, it'd be more likely to contain correct version), or it may be provided by the platform. If this is running in

[2020-08-20 07:45] Erwyn commented on #70
@cowtowncoder thanks for the explanation.

Is there a way to determine which version is used on runtime and/or even select one or am I basically kind of stuck here?

[2020-08-20 20:58] cowtowncoder commented on #70
@Erwyn I'm sure there is a way to resolve it but I can not help much further since I don't know anything about your build or deployment system, and there isn't much I think that Jackson could do to help.

[2020-08-22 21:50] CXwudi opened #71 "[eclipse-collection] can not deserialize concrete class instance inside nested immutable eclipse-collection"
Hi, the issue is like the following:
I have a field like

[code]
where `AbstractDownloaderConfigeration` is declared as:
[code]
and the `MetaYoutubeDlConfiguration ` class is:
[code]
As you can see I have already properly set up the `@JsonTypeInfo` and `@JsonSubTypes` on the abstract class,
but I still got:
[code]
However, if I change the type of `keyToItemsList` from `ImmutableMap<String, Immutab

[2020-08-23 17:59] cowtowncoder commented on #71
If the problem is that of how to detect `ImmutableList`/`-Map` as `CollectionLikeType`/`MapLikeType`, I can help -- what is needed is `TypeModifier` to register via `Module` to "refine" type. I could help with that.

But as there are no default deserializers for collection-/map-like types (they are just convenience types that allow better introspection of various things to help simplify (de)serial

[2020-08-24 09:30] Erwyn commented on #70
Hi @cowtowncoder. Thank you very much for the provided help ! You're right, as this is not Jackson related, there is nothing you could do to help.

Thanks again, I close the issue :)

[2020-08-24 09:30] #70 closed

[2020-08-24 13:23] yawkat commented on #71
@cowtowncoder A type modifier is enough to fix this apparently! Is that the "proper" solution? The EclipseCollectionsDeserializers already returns the right deserializers if they're passed as collection-like.

Also, what branch is the one to PR to, 2.12?

[2020-08-24 17:04] cowtowncoder commented on #71
Yes, TypeModifier was designed to allow modules to indicate 3rd party types to behave more like "standard" Map, Collection and Reference (Option[al], AtomicReference) types, and help use some of existing support. It does not have to be used (`SimpleType` can be used) but often simplifies implementations -- for Collection-/Map-like it helps handle annotations and polymorphic type handling.

As to b

[2020-08-24 17:44] yawkat commented on #71
#72

[2020-09-04 22:04] #71 closed, assigned to nobody

[2020-09-08 08:39] #66 closed

[2020-09-14 21:24] goldbal330 opened #76 "Exception using eclipse collection serialization"
the following test crashes with

java.lang.IllegalArgumentException: Null JavaType passed

	at com.fasterxml.jackson.databind.deser.DeserializerCache._findCachedDeserializer(DeserializerCache.java:205)
	at com.fasterxml.jackson.databind.deser.DeserializerCache.findValueDeserializer(DeserializerCache.java:139)
	at com.fasterxml.jackson.databind.DeserializationContext.findContextualValueDeserializer

[2020-09-15 07:41] yawkat commented on #76
This was fixed in 0d451d68c2e6b3bf6cca86600ea780810bc0e1b1 . Please do not use raw collection types until that fix has been released. Or even better, don't use them at all :)

An example of how to use the proper generic types is given here: https://github.com/eclipse/eclipse-collections/blob/master/docs/jackson.md#serializing-directly

[2020-09-15 07:41] #76 closed

[2020-10-16 18:35] cowtowncoder opened #77 "Add information on guava/README on compatibility between Guava module, Guava library"
One thing that commonly comes up is the question on which Guava version does `jackson-datatype-guava` work with: although module must specify _a_ dependency version for Guava, this does not actually define or indicate range of versions it does work against.
(reasons for not using a range are mostly due to limitations by Maven dependency handling, possibly OSGi -- at least historically version rang

[2020-10-16 18:49] cowtowncoder commented on #77
Done:

https://github.com/FasterXML/jackson-datatypes-collections/tree/master/guava

[2020-10-16 18:49] #77 closed

[2020-10-16 18:51] cowtowncoder opened #78 "Add basic README for eclipse-collections"
So, we'd need:

https://github.com/FasterXML/jackson-datatypes-collections/tree/master/eclipse-collections/README

similar to, say

https://github.com/FasterXML/jackson-datatypes-collections/tree/master/guava/README

This could be a nice Hacktoberfest issue.

[2020-10-20 04:33] arpit-pp opened #79 "Guava's RangeHelper causing NPE in PropertyNamingStrategy"
I'm using Dropwizard which automatically configures Jackson at startup using the following code:
[code]

Guava's `RangeHelper` is calling `AnnotationSensitivePropertyNamingStrategy.nameForField` with null value for `AnnotatedField` param which is resulting in an NPE.

Stacktrace:
[code]

[2020-10-20 04:41] cowtowncoder commented on #79
@arpit-pp Ok, looking at code, I think that Guava module should not pass `null` as accessor (Field, Method), and will see if that can be fixed.

But I would suggest also filing an issue for DropWizard since it may make sense to add a workaround there to work around the issue -- this avoids issues when used with existing Jackson versions.

[2020-10-25 22:49] Migwel commented on #25
I'd like to work on this, if it hasn't been picked up yet

[2020-10-26 01:51] cowtowncoder commented on #25
@Migwel yes, go for it! :)

[2020-10-26 14:31] sukhrajm commented on #7
Hi, I was going to take a look at this as my first time contributing. I think i can re-create this as a failing test by creating a HashMultimap and inserting keys such as key-0, key-1, key-2. Then i configure the objectmapper with `SerializationFeature.ORDER_MAP_ENTRIES_BY_KEYS, true`. Then on serialization, the json should maintain the keys natural ordering but it doesn't currently.

[2020-10-27 01:50] #25 closed

[2020-10-27 21:52] cowtowncoder commented on #7
That sounds good. Alternatively if there is insertion-order-retaining variant, that might be best for repeatable test case; although if hash order is stable enough that should work.

[2020-10-29 19:06] ajorg-aws opened #81 "LICENSE file in .jar"
Hello, We've seen a problem a few times where our systems are unable to detect the LICENSE file in the .jar files for these packages because instead of actually containing the Apache-2.0 license file and a separate NOTICE file it contains only the following, which our tools aren't able to parse (without extra code, which we're also working on).

[code]

I wondered if your customers would be better

[2020-10-29 21:37] sukhrajm commented on #7
There is a comment where this should be plugged in MultimapSerializer. I was thinking of doing
`ImmutableSetMultimap<?, ? extends Collection<?>> immutableSortedMultimap = ImmutableSortedMap.copyOf(value.asMap()).asMultimap();`

Where value is passed in is a `HashMultimap` - the map is a String -> HashSet<String>

after the sorting `immutableSortedMultimap` has a wrapped structure. the value is a `

[2020-10-30 23:14] cowtowncoder commented on #81
@ajorg-aws reasonable question, and I think this:

https://github.com/FasterXML/jackson-annotations/pull/178

would be a step towards better interoperability?

[2020-10-31 01:45] ajorg-aws commented on #81
Looks like it should, yes. Thank you!

[2020-10-31 01:45] #81 closed

[2020-11-03 03:42] cowtowncoder commented on #7
I haven't looked into this, and do not remember how Guava Multimaps work. Maybe someone else can help here.

[2020-11-10 01:21] #79 closed

[2020-12-08 23:30] emanuelbulic opened #82 "Missing LICENSE file for jackson-datatypes-collections/guava"
I can find the LICENSE files for pcollections and hppc, but not guava. I can find one in the deprecated repo:

https://github.com/FasterXML/jackson-datatype-guava/blob/master/src/main/resources/META-INF/LICENSE

[2020-12-09 02:52] cowtowncoder commented on #82
Oh. That is odd -- thank you for reporting this!

[2020-12-09 03:03] cowtowncoder commented on #82
Added LICENSE for guava module, as well as eclipse-collections (which was also missing).

[2020-12-09 03:03] #82 closed

[2021-03-06 18:52] linjunhao1997 opened #84 "java.lang.NoSuchMethodError: com.fasterxml.jackson.databind.AnnotationIntrospector.findPropertyIgnoralByName"
happen in 2.12.1.  My Spring Boot version is 2.2.5.RELEASE. But 2.11.4 is available

[2021-03-07 03:29] cowtowncoder commented on #84
Sounds like a version conflict within your deployment: something has been compiled to expect `jackson-databind` 2.12 (which introduced this method), but has an older version.
As the general rule, the minor version of all Jackson components should match: in this case you likely have an older version of `jackson-databind` but newer (2.12.x) of some module (like `jackson-module-kotlin`, maybe).

[2021-03-20 09:43] yawkat opened #85 "Triple support"
Eclipse-collections added [a `Triple` class](https://code.yawk.at/org.eclipse.collections/eclipse-collections-api/10.4.0/org/eclipse/collections/api/tuple/Triple.java) in version 10 and I want to add support for it. This should be straight-forward in principle.

The only issue is that because EC upgrades have some (albeit small) incompatibilities, I don't want to require a newer version, or requir

[2021-03-20 14:59] cowtowncoder commented on #85
There isn't really much in way of general-purpose machinery, but yes, technique used is to isolate functionality that relates to new class into wrapper class, and then try to load that class, catch exception.
Usually helper class implements some safe interface through which methods are dispatches (access to (de)serializer instances, directly, or to lookup methods)

Jackson-databind package `com.fa

[2021-03-21 10:26] yawkat commented on #85
I've added this to 2.13 for now. I don't think backporting to 2.12 is a good idea, because the changed dependency version could break builds for some people (though explicitly using an older version and ignoring the transitive dep through jackson-datatype-eclipse-collections still works), and this feature isn't urgent enough to warrant that. Do you agree?

[2021-03-21 10:48] yawkat commented on #85
Merged to 3.0 as well, with some adjustments in the code to use createContextual, similar to how you ported PairInstantiator.

[2021-03-21 10:48] #85 closed

[2021-03-21 16:58] cowtowncoder commented on #85
Agreed wrt 2.12: dependency change, added functionality does sound more like minor version change.

One quick ask: could add a reference to `release-notes/VERSION-2.x` as well? And if so, maybe on https://github.com/FasterXML/jackson/wiki/Jackson-Release-2.13 as well  -- although I can do latter based on release notes.

[2021-03-21 17:05] yawkat commented on #85
Done in 3913800effe8f35bdb41eb14bc2155f226a9733e and e919050e4ecf976bc1b2c328e9b127c696f30abd. I don't have write access to the wiki, so probably easier if you do it than making a PR :)

[2021-03-23 00:40] cowtowncoder commented on #24
Quick note: Jackson 2.12 has Guava 21.0 as baseline. No decision yet made on Jackson 2.13, which could further increase baseline.

Note that Jackson 2.13 DOES increase JDK baseline to 8 (excluding `jackson-annotations` and `jackson-core` which are still JDK 6 compatible, but has no effect here) so there are no blockers for increasing to Java 8 only guava version.

If anyone is interested in gettin

[2021-03-31 20:40] #84 closed

[2021-03-31 20:41] cowtowncoder opened #88 "Remove Guava (test) dependency"
For some reason Guava was added as a test dependency at some point. Since that leads to Dependabot upgrade request nonsense, let's see if I can remove that dependency easily.

[2021-03-31 21:02] #88 closed

[2021-06-26 13:50] wlfbck opened #90 "Cache Serialization serializes empty contents"
I'm trying to serialize a Guava Cache<String,String>, so nothing fancy. But this seems to either fail (using default guava version 21.0) with an InvalidDefinitionException or return `{}` (using guava 30.1.1-jre).

Here's my minimal example, i hope i'm just stupid and missing something here:
[code]

My pom is minimal:
[code]

[2021-06-26 16:08] cowtowncoder commented on #90
I don't think Guava datatype module has explicit support for `Cache`, which would suggests it was dealt as just any old POJO.

But assuming handling was added, typically cache types would be considered transient in the sense that only an empty instance would be serialized/read. Would you expect fully contents to be serialized/deserialized back?
This behavior could be made configurable, I think, fo

[2021-06-26 17:08] wlfbck commented on #90
I see, saw what i'm seeing with Guava 30.1.1 is expected, right?

Yeap :) It would be very desirable to have a possibility to serialize these caches easily.

Maybe i can sketch my use case a little: We have system connected to industrial machinery. Connected means we are also on the power supply of said machinery. These kinds of machines are simply switched off, so basically there is no real shutd

[2021-06-26 21:50] #59 closed

[2021-06-26 22:05] cowtowncoder commented on #90
Ok, so yes; 21.0 fails to serialize since there are no properties found. 30.x is interesting since API itself is not different, but I am guessing `LocalCache$LocalManualCache` possibly implements some tag interface that prevents Jackson from throwing exception (not sure what that'd be).

As to supporting `Cache` instances, things gets trickier.

First of all: supporting serialization would be rela

[2021-06-26 22:14] cowtowncoder commented on #90
@wlfbck Instead of directly serializing/deserializing `Cache` instances, what would probably work well and be easy enough to support would be to use a wrapper: basically declaring sort of external type to be `Map<K,V>` and handling conversion yourself.

So something like:

[code]

(or, if you prefer, just a logical property with `Map`-valued getter and setter)

The idea here being that the hard pa

[2021-07-03 03:09] cowtowncoder commented on #90
Added `CacheSerializer` which for now will explicitly write empty Object (as opposed failing or doing that depending on version).

[2021-08-04 21:49] mwisnicki opened #92 "`@JsonDeserialize.contentConverter` does not work for non-builtin collections"
I'm trying to use content converter with Guava collections like so:
[code]
However this does not seem to do anything despite Jackson having deserializers for Guava.
Changing collection to one of built-in types makes the program work.

I would expect that if Jackson can deserialize given collection type, it will also be able to apply converters to it.
Posting here rather than to datatypes project s

[2021-08-18 21:32] cowtowncoder commented on #92
Would be great to have a test case, if anyone wants something easy to do. Implementation should not be difficult either, need to have a look at default `CollectionDeserializer`, lift necessary handling.

[2021-08-18 21:47] mwisnicki commented on #92
But isn't this a bug in common code?

[2021-08-18 21:50] mwisnicki commented on #92
Should I submit my testcase in a form of PR adding unit test?

[2021-08-18 21:50] cowtowncoder commented on #92
@mwisnicki Unlikely based on your mentioning that it works for built-in collections? Guava datatype provides its own Immutable-type deserializers which need to handle a few aspects wrt customizations and configuration.

If it turns out the problem happens to be in `jackson-databind` we can transfer it back of course.

[2021-08-18 21:51] cowtowncoder commented on #92
Yes, PR for the unit test would be a great start! It does not have to be separate if you (or anyone else) can figure out the fix too but it can be.

[2022-01-28 21:00] goldbal330 opened #94 "Eclipse Collection serialization for Pairs does not work when upgrading to EC version 11.0.0"
Pair interface had new default methods added in 11.0.0 (isEqual() and isSame()).
This seems to be breaking Jackson serialization.
The errors can be reproduced by upgrading the version of EC in Jackson-datatypes-collections to 11.0.0.

The following jUnit tests fail:
[ERROR] Failures:
[ERROR]   DeserializerTest.primitivePairs:659 expected:<{"one":"a","two":"i"[]}> but was:<{"one":"a","two":"i"[,"eq

[2022-01-29 08:57] yawkat commented on #94
Thanks for the report.

I will try to fix this next week, hopefully my CLA will go through by then.

[2022-01-30 18:11] cowtowncoder commented on #94
@yawkat If you refer to fasterxml CLA, we already have one from 2020.

[2022-05-20 18:06] cowtowncoder commented on #94
Fix will be in 2.13.4 / 2.14.0.

[2022-05-20 18:06] #94 closed

[2022-05-26 10:35] ymwangzq opened #96 "GuavaMultimapDeserializer throws JsonMappingException: Expecting START_OBJECT, found FIELD_NAME"
This is my code:
[code]

This test throws an exception:
[code]

This is my dependencies:
[code]

[2022-05-26 16:35] cowtowncoder commented on #96
Sounds like a bug, thank you for reporting this.

[2022-05-27 20:57] cowtowncoder commented on #96
Ah. This is not a bug in deserializer but POJO definition.

The issue is constructor annotation `@JsonCreator`: when constructor only takes 1 parameter, there are 2 interpretations of how binding should work; and in this case, without more information, code guesses incorrectly that value should be so-called "delegating" (so the parameter value should be the "whole" incoming value and not one of th

[2022-05-30 17:55] #96 closed

[2022-08-14 02:13] cowtowncoder opened #98 "Rename "com.fasterxml.jackson" -> "tools.jackson""
As the main task for JSTEP-1 (https://github.com/FasterXML/jackson-future-ideas/wiki/JSTEP-1) we need to:

    Change Maven package group id from "com.fasterxml.jackson.core" to "tools.jackson.core"
    Change Java Package name from "com.fasterxml.jackson.core" to "tools.jackson.core"

(and so on for sub-packages)

as well as all secondary changes for OSGi and Java module system.

[2022-11-07 11:57] yawkat commented on #78
thanks!

[2022-11-07 11:57] #78 closed